#tasks {
    max-height: 540px;
}
#tasks .dx-treelist-rowsview td {
    vertical-align: middle;
}
.img,
.name {
    display: inline-block;
    vertical-align: middle;
}
.img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 25px;
    border: 1px solid lightgray;
    background-color: #fff;
}
